h2 {
    color: blue;
    background-color: black;
    font-size: 41px;
    display: inline;
}

a {
    background-color: yellow;
}

* {
    color: red;
}

.color-verde {
    color: green;
}

#nombre-pagina {
    font-size: 30px;
    color: aqua;
    /* border-color: blueviolet;
    border-width: 3px;
    border-style: solid; */
    border: 5px solid red;
    border-radius: 70%;
    text-align: center;
}

img {
    width: 250px;
}

/* Jerarquia de Etiquetas: */
/* id > class > etiqueta > * (universal) */

